J:\Documents\CRS Robot Arm\CRS Robot Terminal Code\Tesseract-OCR
J:\Documents\CRS Robot Arm\CRS Robot Terminal Code\Tesseract-OCR\libtesseract-5.dll
J:\Documents\CRS Robot Arm\Videos
J:\Documents\CRS Robot Arm\Images
CRS_Robot_Terminal_Code/Tesseract-OCR/ambiguous_words.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/ambiguous_words.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/classifier_tester.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/classifier_tester.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/cntraining.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/cntraining.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/combine_lang_model.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/combine_lang_model.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/combine_tessdata.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/combine_tessdata.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/dawg2wordlist.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/dawg2wordlist.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/iconv.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/icudt64.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/icuin64.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/icuuc64.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libarchive-13.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libbz2-1.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libcairo-2.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libcurl-4.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libeay32.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libexpat-1.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libffi-6.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libfontconfig-1.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libfreetype-6.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libgcc_s_seh-1.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libgif-7.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libglib-2.0-0.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libgobject-2.0-0.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libgomp-1.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libharfbuzz-0.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libidn2-0.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libintl-8.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libjbig-2.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libjpeg-8.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/liblept-5.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/liblz4-1.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/liblzma-5.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/liblzo2-2.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libnettle-6.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libnghttp2-14.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libopenjp2.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libpango-1.0-0.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libpangocairo-1.0-0.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libpangoft2-1.0-0.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libpangowin32-1.0-0.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libpcre-1.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libpixman-1-0.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libpng16-16.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libssh2-1.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libstdc++-6.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libtesseract-5.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libtiff-5.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libunistring-2.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libwebp-7.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libwinpthread-1.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libxml2-2.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/libzstd-1.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/lstmeval.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/lstmeval.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/lstmtraining.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/lstmtraining.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/merge_unicharsets.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/merge_unicharsets.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/mftraining.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/mftraining.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/set_unicharset_properties.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/set_unicharset_properties.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/shapeclustering.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/shapeclustering.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/ssleay32.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/tesseract-uninstall.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/tesseract.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/tesseract.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/text2image.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/text2image.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/unicharambigs.5.html
CRS_Robot_Terminal_Code/Tesseract-OCR/unicharset_extractor.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/unicharset_extractor.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/unicharset.5.html
CRS_Robot_Terminal_Code/Tesseract-OCR/winpath.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/wordlist2dawg.1.html
CRS_Robot_Terminal_Code/Tesseract-OCR/wordlist2dawg.exe
CRS_Robot_Terminal_Code/Tesseract-OCR/zlib1.dll
CRS_Robot_Terminal_Code/Tesseract-OCR/doc/AUTHORS
CRS_Robot_Terminal_Code/Tesseract-OCR/doc/LICENSE
CRS_Robot_Terminal_Code/Tesseract-OCR/doc/README.md
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/eng.traineddata
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/eng.user-patterns
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/eng.user-words
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/jaxb-api-2.3.1.jar
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/osd.traineddata
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/pdf.ttf
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/piccolo2d-core-3.0.1.jar
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/piccolo2d-extras-3.0.1.jar
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/ScrollView.jar
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/alto
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/ambigs.train
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/api_config
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/bigram
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/box.train
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/box.train.stderr
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/digits
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/get.images
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/hocr
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/inter
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/kannada
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/linebox
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/logfile
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/lstm.train
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/lstmbox
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/lstmdebug
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/makebox
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/pdf
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/quiet
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/rebox
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/strokewidth
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/tsv
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/txt
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/unlv
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/configs/wordstrbox
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/tessconfigs/batch
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/tessconfigs/batch.nochop
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/tessconfigs/matdemo
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/tessconfigs/msdemo
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/tessconfigs/nobatch
CRS_Robot_Terminal_Code/Tesseract-OCR/tessdata/tessconfigs/segdemo
